<br />

<div class="booyah-box col-10 offset-1">
  <h1>About Us</h1>

  <p>
    While our story can be long winded, we will keep it short for the sake of your time. If you want the long story, just email our founder. She is great at going on and on about how she is achieving her life passion. Sometimes we just call it "box-talk", in good humor of course.
  </p>

  <p>
	Our founder is a native of St. Joseph, MO and was completing an internship at Sunshine Electronic Display when she learned about energy poverty in developing nations. She went to the President of company she was interning for and told him about an idea she had. With his support and manufacturing company, the Sunshine Box was created. Today, Sunshine Electronic Display is still our proud manufacturer. The company was formally established on May 5, 2015 (Cinco de Mayo!). The company took on the 'doing business as' name of 17 73 Innovation Co as a recognition to the country that inspired the Sunshine Box. The number represent the coordinates for Port-au-Prince Haiti, seventeen degrees north by seventy three west. We know we wouldn't be where we are today if it wasn't for all of our great partners. 
  </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>Our Design</h1>

  <p>
    Our design characteristics create a unique value in our product. We did not design the Sunshine Box to accommodate one person's needs instead a community. Between collaboration of expert product designers, skilled manufacturers, and locals of the countries we serve, the Sunshine Box was born. Through interaction and feedback from our partners, we are always looking for ways to improve the box to meet the need. 
  </p>
</div>
