<br />

<div class="booyah-box col-10 offset-1">
  <h1>Partnerships</h1>
<hr>
<p> 	
<h3>Sunshine Electronic Display</h3>
<h4>Manufacturer</h4>
Based in Saint Joseph, Missouri, Sunshine Electronic Display has established a long, rich heritage of outstanding products and unmatched customer service. Founded in 1972, Sunshine continues to utilize the latest technologies to bring customers the boldest, brightest and most reliable pricing solutions available. Today Sunshine is known throughout the country as the leading manufacturer of remotely updated fuel price, hotel rate and lottery jackpot displays.
</p>
<hr>
<p>
<h3>Power2XYZ || Puerto Rico</h3>
<h4>Disaster Relief Organization</h4>

An organization created amidst the crisis and chaos of Hurricanes Irma and Maria to help provide transparency in disaster relief. A federally recognized 501c3 and Puerto Rican Charity, Power2 finds people to be matched with Sunshine Boxes as a way to live. People who have received boxes through Power2 have used their boxes to charge phones, radios, fans, and medical devices. In Puerto Rico, the Sunshine Box is referred to as the "salvavidas," the life saver because it brought hope in a time of despair.
</p>
<hr>
<p>
<h3>University of San Diego</h3>
<h4>Research and Development</h4>

The University of San Diego Shiley-Marcos School of Engineering has a senior capstone course that partners with organizations to provide real-world design challenges for students to work on. The partnership with 17 73 Innovation Co consists of 3 students majoring in Computer Science. These students have been working diligently to design a system that facilitates humanless data capture specifically for impact data metrics.

​

https://www.sandiego.edu/engineering/
</p>
</div>