      <div class="col-12 col-sm-3">
        <b>Pages</b>
        <br />
        <%= link_to 'Make Payment', make_payment_path %>
        <br />
        <%= link_to 'Update Account', update_account_path %>
        <br />
      </div>
